@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@keyframes gradient-wave {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 40%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 60%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.heading{
    animation: gradient-wave 10s ease infinite;
    font-family: 'Space Grotesk', sans-serif;
}

#preview{
    font-family: 'Space Grotesk', sans-serif;
}

.subheading, .syntax{
    font-family: 'Sora', sans-serif;
}
